
<form action="User/Calculadora" method="get">

    <select name="operacion" class="custom-select">
        <option value="suma">Suma</option>
        <option value="resta">Resta</option>
        <option value="multiplicacion">Multiplicacion</option>
         <option value="division">Division</option>
    </select>
    <div class="form-group">
        <label for="exampleVa">Valor A</label>
        <input type="number" name="valora" class="form-control" id="exampleVa">
    </div>
    <div class="form-group">
        <label for="exampleVb">Valor B</label>
        <input type="number" name="valorb" class="form-control" id="exampleVb">
    </div>
    <button type="submit" class="btn btn-primary">Calcular</button>
</form>